NODE_ENV=development
PORT=3010
API_BASE_URL=http://127.0.0.1:3010

SOLANA_NETWORK=devnet
HELIUS_DEVNET_RPC_URL=
HELIUS_MAINNET_RPC_URL=
SOLANA_RPC_URL=
SOLANA_AIRDROP_RPC_URL=https://api.devnet.solana.com
HELIUS_DEVNET_WS_URL=
HELIUS_MAINNET_WS_URL=
DEVNET_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
DEVNET_USDC_DECIMALS=6
MAINNET_USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
MAINNET_USDC_DECIMALS=6

UMBRAPRIVACY_DEVNET_INDEXER_URL=
UMBRAPRIVACY_MAINNET_INDEXER_URL=
UMBRAPRIVACY_ENABLED=false
